@use "../../styles/variables" as var;
@use "sass:color";
@use "../../styles/_mixins.scss" as mixin;

.grid-card {
  display: grid;
  gap: 2.5rem;
  margin-top: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @include mixin.respond(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.card {
  @include mixin.card;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2.5rem 2.5rem;
  min-width: 19rem;

  @include mixin.respond(md) {
    align-items: start;
  }

  .card-title {
    text-transform: uppercase;
    color: var.$text-color;
    @include mixin.fluid-text(1.25rem, 1rem);
    font-weight: 500;
  }

  .card-number {
    align-self: center;
    color: var.$primary-color;
    font-weight: 600;
    @include mixin.fluid-text(1.8rem, 1.5rem);

    @include mixin.respond(md) {
      align-self: start;
    }
  }
}
