@use "../../styles/variables" as var;
@use "sass:color";
@use "../../styles/_mixins.scss" as mixin;

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .topbar-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .menu-icon {
      display: block;
      cursor: pointer;

      @include mixin.respond(lg) {
        display: none;
      }
    }

    .logo {
      width: 9.05rem;
      height: 1.875rem;
      display: none;

      @include mixin.respond(lg) {
        display: block;
      }
    }

    .mobile-logo {
      display: block;

      @include mixin.respond(lg) {
        display: none;
      }
    }
  }

  .search-container {
    display: none;
    align-items: center;
    height: 2.5rem;

    @include mixin.respond(md) {
      display: flex;
      width: 20rem;
    }

    @include mixin.respond(lg) {
      width: 25rem;
    }

    .search-bar {
      display: flex;
      align-items: center;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border: 1px solid #d3d9e5;
      width: 100%;
      height: 100%;

      input {
        background: none;
        border: none;
        outline: none;
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        width: 100%;
        color: #878fa4;
      }
    }

    .search-button {
      background-color: var.$secondary-color;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border: none;
      color: #fff;
      cursor: pointer;
      display: flex;
      height: 100%;
      width: 5rem;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: color.adjust(var.$secondary-color, $lightness: -10%);
      }
      transition: color 0.3s;
    }
  }

  .topbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include mixin.respond(lg) {
      gap: 2rem;
    }

    .docs-button {
      background: none;
      border: none;
      color: var.$primary-color;
      cursor: pointer;
      text-decoration: underline;
      transition: color 0.3s;
      @include mixin.fluid-text(1rem, 0.875rem);
      font-weight: 400;
      &:hover {
        color: color.adjust(var.$primary-color, $lightness: 20%);
      }
    }

    .bell-icon {
      cursor: pointer;
      &:hover {
        color: color.adjust(var.$primary-color, $lightness: 20%);
      }
    }

    .avatar-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;

      p {
        @include mixin.fluid-text(1rem, 0.875rem);
        font-weight: 500;
      }

      &:hover {
        color: color.adjust(var.$primary-color, $lightness: 20%);

        img {
          filter: brightness(0) saturate(100%) invert(29%) sepia(72%)
            saturate(749%) hue-rotate(210deg) brightness(95%) contrast(91%);
        }
      }
    }
  }
}
