@use "sass:map";
@use "sass:math";

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

@mixin respond($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $size: map.get($breakpoints, $breakpoint);

    @if $size != 0 {
      @media (min-width: $size) {
        @content;
      }
    } @else {
      @content;
    }
  }
}

@mixin card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 -3px 6px rgba(0, 0, 0, 0.03);
  padding: 1rem;
}

@mixin fluid-text($max-size, $min-size, $min-vw: 375px, $max-vw: 1200px) {
  font-size: clamp(
    #{$min-size},
    calc(
      #{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-vw}) /
            (#{$max-vw} - #{$min-vw}))
    ),
    #{$max-size}
  );
}
