@use "sass:map";
@use "sass:math";

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

@mixin respond($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $size: map.get($breakpoints, $breakpoint);

    @if $size != 0 {
      @media (min-width: $size) {
        @content;
      }
    } @else {
      @content;
    }
  }
}

@mixin card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

@mixin fluid-text($max-size, $min-size) {
  $min-vw: 375px;
  $max-vw: 1200px;

  $max-size-no-unit: math.div($max-size, $max-size * 0 + 1);
  $min-size-no-unit: math.div($min-size, $min-size * 0 + 1);

  $fluid-value: calc(
    #{$min-size} + (#{$max-size-no-unit} - #{$min-size-no-unit}) * (
        100vw - #{$min-vw}
      ) / (math.div($max-vw, $max-vw * 0 + 1) -
          math.div($min-vw, $min-vw * 0 + 1))
  );

  font-size: clamp(#{$min-size}, #{$fluid-value}, #{$max-size});
}
