$primary-color: #213f7d;
$secondary-color: #39cdcc;
$background-color: #fbfbfb;
$text-color: #545f7d;
$error-color: #e61146;

$font-family: "Work Sans", sans-serif;

$status-colors: (
  "active": #67d987,
  "inactive": #545f7d,
  "pending": #e9b200,
  "blacklisted": #e61146,
);
