@use "../../styles/variables" as var;
@use "../../styles/_mixins.scss" as mixin;

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: #dbe0ea;
  color: var.$primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  flex-shrink: 0;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__initial {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
