@use "../../styles/variables" as var;
@use "sass:color";
@use "../../styles/_mixins.scss" as mixin;

.action-button {
  background-color: transparent;
  border: 2px solid var(--button-base-color);
  border-radius: 8px;
  padding: 8px 1rem;
  color: var(--button-base-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  text-transform: uppercase;
  @include mixin.fluid-text(0.875rem, 0.75rem);

  &:hover {
    filter: brightness(0.75);
  }
}
